<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footer</title>
</head>
<!-- <body> -->
<div th:fragment="footer">
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="span4">
					<div class="widget">
						<div class="footer_logo">
							<h3>
								<a href="/"><i class="icon-tint"></i> EClinic</a>
							</h3>
						</div>
						<address>
							<strong>EClinic Inc.</strong><br> Koteshwor - 32, Kathmandu<br>
							Nepal
						</address>
						<p>
							<i class="icon-phone"></i> (123) 456-7890 <br> <i
								class="icon-envelope-alt"></i><a href="/contact">
								info@eclinic.com </a>
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="widget">
						<h5 class="widgetheading">Browse pages</h5>
						<ul class="link-list">
							<li><a href="#">Our company</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Press release</a></li>
							<li><a href="#">What we have done</a></li>
							<li><a href="#">Our support forum</a></li>
						</ul>

					</div>
				</div>
				<div class="span4">
					<div class="widget">
						<h5 class="widgetheading">About the author</h5>
						<img alt="Er. Kumar Dhakal" title="Er. Kumar Dhakal"
							src="/img/kumar.jpg" width=25% height=25%><br> <br>
						Er. Kumar Dhakal is a java enthusiast and aspiring game developer.
						His areas of interests include Java desktop applications, java web
						applications, game programming in java, DirectX programming (C++),
						etc. You can find him in linkedin at <a
							href="http://www.linkedin.com/in/dhakalkumar" target="_blank">http://www.linkedin.com/in/dhakalkumar</a>
						and in github at <a href="http://www.github.com/dhakalkumar"
							target="_blank">http://www.github.com/dhakalkumar</a><br /> <br />
						He also writes a blog about java at <a
							href="http://whatsinjava.blogspot.com" target="_blank">http://whatsinjava.blogspot.com</a>
						<div class="clear"></div>

					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="span6">
						<div class="copyright">
							<p>
								<span>&copy; EClinic Inc. All rights reserved</span>
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- </body> -->
</html>