<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Welcome to EClinic! Your number one destination for all
	your health needs !!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Your number one destination for all your health needs" />
<meta name="author" content="Er. Kumar Dhakal" />

<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" />
<link href="css/prettyPhoto.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
	rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- Theme skin -->
<link id="t-colors" href="color/default.css" rel="stylesheet" />

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="ico/favicon.png" />

<!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<!-- <div th:fragment="head"> -->
<div th:insert="header.html::head"></div>
<body>
	<div id="wrapper">
		<!-- section intro -->
		<section id="intro">
			<div class="intro-content">
				<h2>Welcome to E Clinic!</h2>
				<h3>Your number one destination for all your health needs !!</h3>

			</div>
		</section>
		<!-- /section intro -->

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span3">
								<div class="box aligncenter">
									<div class="icon">
										<span class="badge badge-info badge-circled"></span>
										 <img src="/img/24hr-96.png">
										<!-- <i class="ico icon-dropbox icon-5x"></i> -->
									</div>
									<div class="text">
										<h4>
											<strong>24hr service</strong>
										</h4>
										<p>We provide extraordinary services that you cannot find
											anywhere else at any cost!</p>
										<a href="/services">Learn More...</a>
									</div>
								</div>
							</div>

							<div class="span3">
								<div class="box aligncenter">
									<div class="icon">
										<span class="badge badge-success badge-circled"></span>
										 <img src="/img/doctor-96.png">
										<!-- <i class="ico icon-bitbucket icon-5x"></i> -->
									</div>
									<div class="text">
										<h4>
											<strong>Qualified doctors</strong>
										</h4>
										<p>Our doctors are the best in their fields.</p>
										<a href="/doctors">Learn More...</a>
									</div>
								</div>
							</div>
							<div class="span3">
								<div class="box aligncenter">
									<div class="icon">
										<span class="badge badge-warning badge-circled"></span>
										<img src="/img/ambulance.png" width="96" height="96">
										<!-- <i	class="ico icon-rocket icon-5x"></i> -->
									</div>
									<div class="text">
										<h4>
											<strong>Emergency Care</strong>
										</h4>
										<p>We have 24hr emergency service with five ambulances,
											equipped with all the modern emergency infrastructures, ready
											to fetch patients from anywhere.</p>
										<a href="/emergency">Learn More...</a>
									</div>
								</div>
							</div>
							<div class="span3">
								<div class="box aligncenter">
									<div class="icon">
										<span class="badge badge-important badge-circled"></span> 
										<img src="/img/price-96.png">										
										<!-- <i class="ico icon-cut icon-5x"></i> -->
									</div>
									<div class="text">
										<h4>
											<strong>Low price</strong>
										</h4>
										<p>We offer quality service at the lowest price in the
											town.</p>
										<a href="/pricing">Learn More...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="span12">
						<div class="cta-box">
							<div class="row">
								<div class="span8">
									<div class="cta-text">
										<h3>Register as a patient from anywhere in the world!</h3>
									</div>
								</div>
								<div class="span4">
									<div class="cta-btn">
										<a href="/register" class="btn btn-color">Register online
											<i class="icon-caret-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Insert footer at the bottom of the page  -->
	<div th:insert="footer.html::footer"></div>

	<a href="#" class="scrollup"><i
		class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- <script src="js/jquery.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/toucheffects.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/portfolio/jquery.quicksand.js"></script>
	<script src="js/portfolio/setting.js"></script>
	<script src="js/animate.js"></script> -->

	<!-- Template Custom JavaScript File -->
	<script src="js/main.js"></script>

</body>


</html>
